# Space Ship titanic Kaggle 
### Lets first import all the important libs

In [1]:
import numpy as np # Math Functions
import pandas as pd #Data managment and processing 
import matplotlib.pyplot as plt #Data visualization
import seaborn as sns #Data visualization 
import plotly.express as px # Advanced Data visualization 
import warnings # Avoid warings that might arrise from data visualization
warnings.filterwarnings('ignore')
import datetime # For time line analisys
import random

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
# We can see that passenger id is dependent on room sharing , and cabin has a lot of missing values so we can fill those with the felp of that 
df['P_id']=df.PassengerId.apply(lambda x : x.split("_")[0])
df["P_No"]=df.PassengerId.apply(lambda x : x.split("_")[1])
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,P_id,P_No
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,01
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,01
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,01
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,02
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,01

In [6]:
df[df.P_No=="02"].info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1412 entries, 3 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   1412 non-null   object
 1   HomePlanet    1376 non-null   object
 2   CryoSleep     1370 non-null   object
 3   Cabin         1377 non-null   object
 4   Destination   1384 non-null   object
 5   Age           1374 non-null   float64
 6   VIP           1381 non-null   object
 7   RoomService   1383 non-null   float64
 8   FoodCourt     1382 non-null   float64
 9   ShoppingMall  1379 non-null   float64
 10  Spa           1388 non-null   float64
 11  VRDeck        1384 non-null   float64
 12  Name          1372 non-null   object
 13  Transported   1412 non-null   bool
 14  P_id          1412 non-null   object
 15  P_No          1412 non-null   object
dtypes: bool(1), float64(6), object(9)
memory usage: 177.9+ KB

In [7]:
# Lets fill all these with the prevous cabin value
df[df.P_No=="02"].Cabin.ffill(inplace=True)

In [8]:
# Home Plannet will also be the same 
df[df.P_No=="02"].HomePlanet.ffill(inplace=True)
# Destination also will be the same 
df[df.P_No=="02"].Destination.ffill(inplace=True)
#Sleep Options also should be the same 
df[df.P_No=="02"].CryoSleep.ffill(inplace=True)

In [9]:
#now lets see how are missing values look 
df.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
 14  P_id          8693 non-null   object
 15  P_No          8693 non-null   object
dtypes: bool(1), float64(6), object(9)
memory usage: 1.0+ MB

In [10]:
# Balance Data can be filled with mode 
df=df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [11]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,P_id,P_No
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,01
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,01
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,01
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,02
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,01

In [12]:
# we can drop the Id and its 2 derived columns as its job is done 

df.drop(["P_id","P_No"],axis=1,inplace=True)
df.drop("PassengerId",axis=1,inplace=True)

In [13]:
df_test=pd.read_csv("test.csv")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Cabin         8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   bool
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Name          8693 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(4)
memory usage: 704.7+ KB

In [15]:
#Lets make cabin into the section only .
df.Cabin=df.Cabin.apply(lambda x : str(x).split("/")[0])
#apply same to test 
df_test.Cabin=df_test.Cabin.apply(lambda x : str(x).split("/")[0])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Cabin         8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   bool
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Name          8693 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(4)
memory usage: 704.7+ KB

In [17]:
# Lets drop name 
df.drop("Name",inplace=True,axis=1)

In [18]:
df_test.drop("Name",axis=1,inplace=True)

In [19]:
#Encode 
df.HomePlanet=df.HomePlanet.map({"Earth":1,"Europa":0,"Mars":2})
df_test.HomePlanet=df_test.HomePlanet.map({"Earth":1,"Europa":0,"Mars":2})
df.Destination=df.Destination.map({"TRAPPIST-1e":1,"PSO J318.5-22":0,"55 Cancri e":2})
df_test.Destination=df_test.Destination.map({"TRAPPIST-1e":1,"PSO J318.5-22":0,"55 Cancri e":2})

In [20]:
df.Cabin.value_counts()

F    2794
G    2758
E     876
B     779
C     747
D     478
A     256
T       5
Name: Cabin, dtype: int64

In [21]:
dum=pd.get_dummies(df.Cabin)
dum2=pd.get_dummies(df_test.Cabin)
dum.drop("T",inplace=True,axis=1)
dum2.drop("T",inplace=True,axis=1)
df.drop("Cabin",inplace=True,axis=1)
df_test.drop("Cabin",inplace=True,axis=1)
df=pd.concat([df,dum],axis=1)
df_test=pd.concat([df_test,dum2],axis=1)

In [22]:
print(df.shape,df_test.shape)

(8693, 18) (4277, 19)

In [23]:
# Lets Create X and y 
X=df.drop("Transported",axis=1)

In [24]:
y=df.Transported

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params = {
    'max_depth': [1, 2, 5, 10, 20],
    'min_samples_leaf': [5, 10, 20, 50, 100],
    'max_features': [2,3,4],
    'n_estimators': [10, 30, 50, 100, 200]
}
classifier_rf = RandomForestClassifier(random_state=42, n_jobs=-1)
grid_search = GridSearchCV(estimator=classifier_rf, param_grid=params, 
                          cv=4, n_jobs=-1, verbose=1, scoring = "accuracy")

grid_search.fit(X_train,y_train)

Fitting 4 folds for each of 375 candidates, totalling 1500 fits

GridSearchCV(cv=4, estimator=RandomForestClassifier(n_jobs=-1, random_state=42),
             n_jobs=-1,
             param_grid={'max_depth': [1, 2, 5, 10, 20],
                         'max_features': [2, 3, 4],
                         'min_samples_leaf': [5, 10, 20, 50, 100],
                         'n_estimators': [10, 30, 50, 100, 200]},
             scoring='accuracy', verbose=1)

In [27]:
clf = grid_search.best_estimator_

In [28]:
y_pred=clf.predict(X_train)

In [29]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

def evaluate_model(dt_classifier):
    print("Train Accuracy :", accuracy_score(y_train, dt_classifier.predict(X_train)))
    print("Train Confusion Matrix:")
    print(confusion_matrix(y_train, dt_classifier.predict(X_train)))
    print("-"*50)
    print("Test Accuracy :", accuracy_score(y_test, dt_classifier.predict(X_test)))
    print("Test Confusion Matrix:")
    print(confusion_matrix(y_test, dt_classifier.predict(X_test)))

In [30]:
evaluate_model(clf)

Train Accuracy : 0.8477135461604832
Train Confusion Matrix:
[[2877  577]
 [ 482 3018]]
--------------------------------------------------
Test Accuracy : 0.7964347326049454
Test Confusion Matrix:
[[663 198]
 [156 722]]

In [31]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   float64
 2   CryoSleep     4184 non-null   object
 3   Destination   4185 non-null   float64
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  A             4277 non-null   uint8
 12  B             4277 non-null   uint8
 13  C             4277 non-null   uint8
 14  D             4277 non-null   uint8
 15  E             4277 non-null   uint8
 16  F             4277 non-null   uint8
 17  G             4277 non-null   uint8
 18  nan           4277 non-null   uint8
dtypes: float64(8), object(3), uint8(8)
memory usage: 401.1+ KB

In [32]:
df_test=df_test.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [35]:
df_test.drop("nan",axis=1,inplace=True)

In [36]:
out=pd.DataFrame()
out['PassengerId']=df_test.PassengerId

In [37]:
out["Transported"]=clf.predict(df_test.drop("PassengerId",axis=1))

In [39]:
out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  4277 non-null   object
 1   Transported  4277 non-null   bool
dtypes: bool(1), object(1)
memory usage: 37.7+ KB

In [40]:
#Transported needs to be object
out.Transported=out.Transported.apply(lambda x: "True" if x else "False")

In [41]:
out.to_csv("Submit.csv",index=False)

We are getting a score of 79% From Kaggle Lets try another algo
## XGBOOST

In [42]:
import xgboost as xgb

In [43]:
xgb_clf = xgb.XGBClassifier(max_depth=7, n_estimators=300, learning_rate=0.3,
                            n_jobs=-1, verbosity=1, gpu_id=0)

In [44]:
xgb_clf.fit(X_train, y_train)

[13:47:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:248: No visible GPU is found, setting `gpu_id` to -1

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=0, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.3, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=7, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=300,
              n_jobs=-1, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [46]:
evaluate_model(xgb_clf)

Train Accuracy : 0.9324129997123958
Train Confusion Matrix:
[[3093  361]
 [ 109 3391]]
--------------------------------------------------
Test Accuracy : 0.772857964347326
Test Confusion Matrix:
[[654 207]
 [188 690]]

In [47]:
params = {
    'max_depth': [5,7,10,15],
    'n_estimators': [200,300,500,700],
    'learning_rate':[0.1,0.3,0.4]
    }
classifier_xg= xgb.XGBClassifier(random_state=42, n_jobs=-1)
grid_search = GridSearchCV(estimator=classifier_xg, param_grid=params, 
                          cv=4, n_jobs=-1, verbose=1, scoring = "accuracy")

grid_search.fit(X_train,y_train)

Fitting 4 folds for each of 48 candidates, totalling 192 fits

GridSearchCV(cv=4,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     gamma=None, gpu_id=None, grow_policy=None,
                                     importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None, max_bin=None,
                                     max_ca...
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=-1,
                                     num_parallel_tree=None, predictor=None,
                                     random_state=42, reg_alpha=None,
                                     reg_lambda=None, ...),
             n_jobs=-1,
             param_grid={'learning_rate': [0.1, 0.3, 0.4],
                         'max_depth': [5, 7, 10, 15],
                         'n_estimators': [200, 300, 500, 700]},
             scoring='accuracy', verbose=1)

In [48]:
best_cg=grid_search.best_estimator_

In [49]:
evaluate_model(best_cg)

Train Accuracy : 0.8501581823410986
Train Confusion Matrix:
[[2847  607]
 [ 435 3065]]
--------------------------------------------------
Test Accuracy : 0.7941345600920069
Test Confusion Matrix:
[[654 207]
 [151 727]]

In [50]:
out.Transported=best_cg.predict(df_test.drop("PassengerId",axis=1))

In [51]:
out.Transported=out.Transported.apply(lambda x: "True" if x else "False")

In [52]:
out.to_csv("Submit2.csv",index=False)

# now we have 80% Accuracy we can get better restults by tuneing the parametres